<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__title">Item 1</h2>
    <svg class="icon icon--small collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni nemo est
      reiciendis, quos amet laboriosam, quae voluptatem dolores saepe mollitia
      beatae natus ipsum libero explicabo debitis qui quidem blanditiis nesciunt
      accusantium. Deleniti architecto nam officia, assumenda dolorum mollitia
      porro quae ut aliquam nemo dolores aspernatur? Quaerat perspiciatis
      provident nobis blanditiis?
    </p>
  </div>
</div>
<script src="js/main.js"></script>
